! urxvt.font: -aaron-bitocra13-medium-r-normal--13-130-84-84-c-90-iso8859-1
! urxvt.font: -ypn-envypn-medium-r-normal--13-130-75-75-c-90-iso8859-1
urxvt.font:	-xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
urxvt.boldfont: -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1

urxvt.foreground:       #D2C5BC
urxvt.cursorColor:  #209090

! #include ".colors/purple"
! #include ".colors/default"
! #include ".colors/dotshare"
! #include ".colors/hell"
#include ".colors/vida"

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/F200

urxvt.saveLines: 20000
urxvt.fading: 0
urxvt.scrollBar: None
urxvt.termName: rxvt-256color
urxvt.internalBorder: 4
urxvt.geometry: 90x26
