:root {
  --bg: #101010;
  --fg: #D2C5BC;
  --blk: #101010;
  --red: #E31648;
  --grn: #60f802;
  --ylw: #E1AA5D;
  --blu: #7DC1CF;
  --mag: #9B64FB;
  --cyn: #6D878D;
  --wht: #dddddd;
  --bblk: #404040;
  --bred: #FB052E;
  --bgrn: #B3FC00;
  --bylw: #F39D21;
  --bblu: #4E9FB1;
  --bmag: #8542FF;
  --bcyn: #42717B;
  --bwht: #dddddd;
}
